@{
    ViewData["Title"] = "Trang chủ quản trị viên";
}

    <div class="text-center">
        <h1 class="display-4 text-primary font-weight-bold">Sushi Quán</h1>
        <p class="h4">Chào mừng bạn đến với Sushi Quán!</p>
    </div>
